{
  "name": "{{name}}",
  "version": "1.0.0",
  "private": true,
  "type": "module",
  "main": "main.ts",
  "scripts": {
    "start": "nww-forge start",
    "package": "nww-forge package",
    "make": "nww-forge make",
    "publish": "nww-forge publish"
  },
  "dependencies": {
    "@devscholar/node-with-window": "latest"
  },
  "devDependencies": {
    "esbuild": "latest",
    "typescript": "latest"
  }
}
